<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FindYourNest</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <!--police -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
</head>

<body class="bg">
  <header>
        <div class="d-flex justify-content-between">
            <div id="box2" class="p-2 flex-fill h1"> <a href="{{url_for('main')}}"> Find Your Nest </a></div>
        <!-- {% if current_user.is_anonymous %}   
            <div id="btn-login" class="p-2"><button type="button" class="btn btn-outline-light right mt-3 mr-3 pb-1"><a href="{{url_for('connexion')}}">Se connecter</a></button></div>
            return
        {% else %}
            <div id="btn-logout" class="deco p-2"><a href="{{url_for('deconnexion')}}" class="btn btn-outline-danger right mt-3 mr-3 pb-1">Se déconnecter</a></div>
        {% endif %}    
       </div>           -->
  </header>

<div class="h2 mt-4">Le moyen le plus rapide pour trouver un logement adapté à vos déplacements</div>
    <hr>
    <div class="d-flex justify-content-center my-2">
      <div class="card w-75">
        <div class="card-body">
          {%include "_message.html "%}
          <form method="POST", action="/connexion/">
            <div class="form-group">
              <label for="exampleInputMail">Adresse e-mail</label>
              <input type="email" name="email" class="form-control" id="exampleInputMail" aria-describedby="emailHelp"
                placeholder="Entrez votre adresse e-mail">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Mot de passe</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Entrez votre mot de passe">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" name="garder_connecté" class="form-check-input" id="checkboxremember">
              <label class="form-check-label" for="checkboxremember">Me garder connecté(e)</label>
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
            <button type="button" class="btn btn-primary float-right"><a href="{{url_for('moncompte')}}" title="Pas encore inscrit(e)?">Pas encore inscrit(e)?</a></button>
          </form>
          
        </div>
      </div>
    </div>

  </div>

</body>

</html>
