{% extends "MASTER_BODY.html" %}
    <div class="d-flex justify-content-center my-2">
      <div class="card w-75">
        <div class="card-body">
          <form methode="POST" action="/chargementappart">
            <div class="form-group">
              <label for="exampleInputNumber">Numéro</label>
              <input type="text" class="form-control" id="exampleInputNumber"
                placeholder="Entrez le numéro de rue de votre bien">
            </div>
            <div class="form-group">
              <label for="exampleInputStreet">Rue, allée, avenue, ...</label>
              <input type="text" class="form-control" id="exampleInputStreet"
                placeholder="Entrez la rue, allée, avenue, ... de votre bien">
            </div>
            <div class="form-group">
              <label for="exampleInputCity">Ville</label>
              <input type="text" class="form-control" id="exampleInputCity" placeholder="Entrez la ville de votre bien">
            </div>
            <div class="form-group">
              <label for="exampleInputZip">Code postal</label>
              <input type="text" class="form-control" id="exampleInputZip"
                placeholder="Entrez le code postal de votre bien" maxlength="5">
            </div>
            <div class="form-group">
              <label for="exampleInputDesc">Description</label>
              <textarea class="form-control" id="exampleInputDesc" rows="5" placeholder="Décrivez votre bien"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputPrice">Prix</label>
              <input type="text" class="form-control" id="exampleInputPrice" placeholder="Entrez le prix de votre bien">
            </div>
            <label for="exampleInputImage">Joindre une image</label> <br />
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Joindre une image </label>
            <input id="file-upload" type="file" multiple accept="image/*" /> <br />
            <button type="submit" class="btn btn-primary float-right">Enregistrer votre bien</button>
          </form>
        </div>
      </div>
    </div>
  </div>
