{% extends "MASTER_BODY.html" %}
{% block main_fct %}
    <div class="d-flex justify-content-center my-2">
      <div class="card w-75">
        <div class="card-body">
          {%include "_message.html"%}
          <form method="POST", action="/connexion/">
            <div class="form-group">
              <label for="exampleInputMail">Adresse e-mail</label>
              <input type="email" name="email" class="form-control" id="exampleInputMail" aria-describedby="emailHelp"
                placeholder="Entrez votre adresse e-mail">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Mot de passe</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Entrez votre mot de passe">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" name="garder_connecté" class="form-check-input" id="checkboxremember">
              <label class="form-check-label" for="checkboxremember">Me garder connecté(e)</label>
            </div>
            <button type="button" class="btn btn-primary float-left"><a href="{{url_for('moncompte')}}" title="Pas encore inscrit(e)?">Pas encore inscrit(e)?</a></button>
            <button type="submit" class="btn btn-primary float-right">Connexion</button>
          </form>
          
        </div>
      </div>
    </div>

  </div>

</body>

</html>
{%endblock%}
