{% extends "MASTER_BODY.html" %}
{% block main_fct %}
        <div class="container-fluid">
            <div class="d-flex justify-content-center my-2">
                    <div class="card w-75">
                            <div class="card-body">
                              <h2 class="card-title">Appartement</h2>
			      <h3 class="card-subtitle mb-2 text-muted">{{Prix}} €</h3>
                              <div class="row d-flex justify-content-center my-2">
				      <img src="{{url_for('static', filename=pic)}}" class="rounded" style="width: 500px">
                              </div>
                              <div class="row my-3">
				      <p class="card-text ">{{describe}}</p>
                                </div>
                                <div class="row">
					<div class="col-md-3">{{PostalCode}}</div>
					<div class="col-md-3">{{nb_pieces}}  Pièces</div>
                                    <div class="col-md-3">1 Chambre</div>
				    <div class="col-md-3">{{surface}} m²</div>
                                </div>
                            </div>
                    </div>
            </div>

        </div>

    <script>
        window.onload = function(){
        var map = L.map('map').setView([48.871620, 2.345940], 18);

        var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });

        map.addLayer(layer);
        }; 
    </script>   
{%endblock%}
