{% extends "MASTER_BODY.html" %}

{% if current_user.pro == 'on' %}
  {% block mainpro_fct %}
    {% for item in infos %}
      {% include "_infoscomptepro.html" %}
    {% endfor %}
  {% endblock %}

{% else %}
  {% block main_fct %}
    {% for item in infos %}
      {% with prenom=item[0], email=item[1], temps=item[2], budget=item[3], nb=item[4], ville=item[5], code_postal=item[6], rue=item[7] %}
        {% include "_infoscompte.html" %}
      {% endwith %}
    {% endfor %}
  {% endblock %}

  {% block scnd_fct %}
    {% for item in infos_favoris %}
      {% with titre=item[0], prix=item[1], photo=item[2], description=item[3] %}
        {% include "_favorisCards.html" %}
      {% endwith %}
    {% endfor %}
  {% endblock %}

{% endif %}

