<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FindYourNest</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <!--police -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body class="bg">
  <header>
        <div class="d-flex justify-content-between">
            <div class="p-2 flex-fill "></div>
            <div id="boxh1" class="p-2 flex-fill h1"> <a href="{{url_for('main')}}"> Find Your Nest </a></div>
        {% if current_user.is_anonymous %}   
            <div id="btn-login" class="p-2"><button type="button" class="btn btn-outline-light right mt-3 mr-3 pb-1"><a href="{{url_for('connexion')}}">Se connecter</a></button></div>
        {% else %}
            <div id="btn-logout" class="deco p-2"><a href="{{url_for('deconnexion')}}" class="btn btn-outline-light right mt-3 mr-3 pb-1">Se déconnecter</a></div>
        {% endif %}    
       </div>          
  </header>

<div class="h2 mt-4">Le moyen le plus rapide pour trouver un logement adapté à vos déplacements</div>   
 <hr>
    <div class="d-flex justify-content-center my-2">
      <div class="card w-75">
        <div class="card-body">
          {%include "_message.html"%}
          <form method="POST", action="/moncompte/">
            <div class="form-group">
              <label for="exampleInputName">Prénom</label>
              <input type="text" name="prenom" class="form-control" id="exampleInputName" placeholder="Entrez votre prénom">
            </div>
            <div class="form-group">
              <label for="exampleInputMail">Adresse e-mail</label>
              <input type="email" name="email" class="form-control" aria-describedby="emailHelp" id="exampleInputMail"
                placeholder="Entrez votre adresse e-mail">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Mot de passe</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Entrez votre mot de passe">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Confirmation du mot de passe</label>
              <input type="password" name="confirmer" class="form-control" id="exampleInputPassword" placeholder="Confirmez votre mot de passe">
            </div>
            <div class="form-check">
              <input class="form-check-input" name="pro" type="checkbox" id="checkBoxPro">
              <label class="form-check-label" for="checkboxPro">Je suis un(e) professionnel(le)</label>
            </div>
          <hr>
            <h4 class="Card-title">Ce que vous recherchez</h4>
              <div class="form-group">
                <label for="exampleInputNumber">Numéro</label>
                <input type="number" name="nb" class="form-control" id="exampleInputNumber" placeholder="Entrez le numéro de rue">
              </div>
              <div class="form-group">
                  <label for="exampleInputStreet">Rue, allée, ...</label>
                  <input type="text" name="rue" class="form-control" id="exampleInputStreet" placeholder="Entrez la rue">
                </div>
              <div class="form-group">
                <label for="exampleInputCity">Ville</label>
                <input type="text" name="ville" class="form-control" id="exampleInputCity" placeholder="Entrez une ville">
              </div>
              <div class="form-group">
                <label for="exampleInputZip">Code postal</label>
                <input type="text" name="code_postal" class="form-control" id="exampleInputZip" placeholder="Entrez un code postal" maxlength="5">
              </div>
              <div class="form-group">
                <label for="exampleInputTime">Temps de trajet</label>
                <input type="time" name="temps" class="form-control" id="Time">
              </div>
              <div class="form-group">
                <label for="formControlRange">Prix maximal</label>
                <input onmousemove="sliderFunction()" type="range" name="budget" class="form-control-range" id="priceRange" name="priceRange" min='0'
                  max='5000' step='50'>
                <label id="formControlSlider" for="formControlRange">2500</label><label>€</label>
              </div>
              <div class=form-group>
                <div>
                  <label for="formControlRange">Type de logement</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="appart" id="checkboxFlat">
                  <label class="form-check-label" for="checkboxFlat"> Appartement</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" name="maison" type="checkbox" id="checkboxHouse" >
                  <label class="form-check-label" for="checkboxHouse">Maison</label>
                </div>
              </div>
          <div><button type="submit" class="btn btn-primary float-right">S'inscrire</button></div>
        </form>
      </div>
    </div>
  </div>

</body>
<!-- slider script -->
<script>
  function sliderFunction() {
    var val = $('#priceRange')[0].value
    $("#formControlSlider").html(val);
  }
</script>
</html>
